# TensorFlow + Keras
tensorflow==2.13.0
keras==2.13.1
numpy==1.24.3  # must match TF dependency

#test
# Streamlit & dependencies
streamlit==1.31.1
rich<14,>=10.14.0
Pillow==10.2.0
matplotlib==3.8.3
scikit-learn==1.4.1.post1
pandas==2.2.1
