# TensorFlow + Keras
tensorflow==2.15.0
keras==2.15.0
numpy==1.26.4

#test
# Streamlit & dependencies
streamlit==1.52.1

rich==13.9.4

Pillow==10.2.0
matplotlib==3.10.7
scikit-learn==1.7.2
pandas==2.3.3
